<!-- Hero child-1 -->
<div class="hero__header">
    <!-- Hero__header child-1 -->
    <div class="icon__container">
        <svg class="icon icon--logo">
            <use xlink:href="images/sprite.svg#logo"></use>
        </svg>
    </div>
    <!-- Hero__header child-1 -->
    <div class="btn__container">
        <button class="btn btn--primary" type="submit">Try It Free</button>
    </div>
</div>
<!-- Hero child-2 -->
<div class="hero__content">
    <!-- Hero__content child-1 -->
    <div class="hero__content-heading">
        <h1>Build the Community Your Fans Will Love</h1>
    </div>
    <!-- Hero__content child-2 -->
    <div class="hero__content-info">
        <p class="hero__content-paragraph">
            Huddle re-imagines the way we build communities. You have a voice, but so does your 
            audience. Create connections with your users as you engage in genuine discussion.
        </p>
    </div>
    <!-- Hero__content child-3 -->
    <div class="btn__container">
        <button class="btn btn--secondary" type="submit">Get Started For Free</button>
    </div>
</div>
<!-- Hero child-3 -->
<div class="hero__illustration-mockup">
    <img class="mockup" src="/images/illustration-mockups.svg" alt="Illustration Mockup">
</div>
