*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    /* For body and calltoaction 400, 700 */
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--grayish-blue);
    /* Remove later */
    padding: 20px;
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
}

h1{
    font-size: 2.5rem;
    margin-top: 40px;
}

@media screen and (min-width:1024px) {
    h1{
        margin-top: 0;
    }
}

h2{
    font-size: 2.1rem;
    margin-top: 40px;
}

h3{
    font-size: 1.7rem;
    margin-bottom: 20px;
}

button{
    font-weight: 700;
    font-size: 1.5rem;
}